{% extends "_base.html" %}

{% block title %}Timetable{% endblock title %}

{% block content %}
<h1 class="display-3">Your Timetable</h1>
<a class="btn btn-success" href="{% url "timetable_create" org_id=object_list.0.organization.id %}">Create Timetable</a>
<ul>
{% for object in object_list %}
    <li>
        <a href="{% url "timetable_detail" org_id=object.organization.id pk=object.id %}">{{ object.organization.name }}</a>
        <p>{{object.semester}}</p>
    </li>
{% endfor %}
</ul>
{% endblock content %}
