{% extends "_base.html" %}

{% block title %}{{ object.course_id }}{% endblock title %}

{% block content %}
<h1 class="display">{{ object.title }} - {{object.course_id}}</h1>
{% with org=object.organization %}
<a class="btn btn-primary" href="{% url "course_update" org_id=org.id course_id=object.course_id %}">Update</a>
<a class="btn btn-danger" href="{% url "course_delete" org_id=org.id course_id=object.course_id %}">Delete</a>
<p>Room: 
{% if object.rooms.exists %}
  {% for room in object.rooms.all %}
    {{ room.room_id }} (Capacity: {{ room.capacity }}, Lab: {{ room.is_lab }})
  {% endfor %}
{% else %}
No rooms assigned.
{% endif %}
</p>
{% endwith %}
{% endblock content %}
